
  <body>
      <h1>İmage Search Engine</h1>
    <h2>insert image search keywords as below(for space please use %20). To set result per page please define offset value.</h2>
       <p>https://freeccimagesearch.glitch.me/api/imagesearch/funny%20cat?offset=5</p>
    <h2>To get lates search keywords use api below </h2>
      <p>https://freeccimagesearch.glitch.me/api/latest/imagesearch</p>
  </body>
